In [8]:
import pandas as pd
#학습데이터 불러오기 (t예측)
df = pd.read_csv('./dataset/rla_rf_test3.csv',encoding='cp949')
#테스트데이터

df1 = pd.read_csv('./dataset/real3.csv',encoding='cp949')

#데이터 형태 확인
# df.info()

#t를 범주처리
df['t'] = df['t'].astype("category")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   t                    51 non-null     category
 1   nose_shoulder_angle  51 non-null     float64
 2   left_elbow_angle     51 non-null     float64
 3   right_elbow_angle    51 non-null     float64
 4   right_knee_angle     51 non-null     float64
 5   left_knee_angle      51 non-null     float64
 6   shoulder_angle       51 non-null     float64
 7   right_ankle_angle    51 non-null     float64
 8   right_hip_angle      51 non-null     float64
 9   left_ankle_angle     51 non-null     float64
 10  left_hip_angle       51 non-null     float64
dtypes: category(1), float64(10)
memory usage: 4.5 KB

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# df['is_male'] = (df['Sex'] == 'male') # 성별 column one-hot 인코딩

train_columns = ['nose_shoulder_angle', 'left_elbow_angle', 'right_elbow_angle',
                'right_knee_angle','left_knee_angle','shoulder_angle','right_ankle_angle',
                'right_hip_angle','left_ankle_angle','left_hip_angle'] # train_feature를 나타내는 column

# train, test 데이터셋 분리(random state 지정시 항상 고정, test set 비율도 지정 가능)
X_train, X_test, y_train, y_test = train_test_split(df[train_columns], df['t'], 
                                                    test_size = 0.25, random_state = 32)

In [13]:
# 모델
model = RandomForestClassifier(n_estimators=5, random_state=0)

In [17]:
#학습

model.fit(X_train, y_train)

# X_train

RandomForestClassifier(n_estimators=5, random_state=0)

In [15]:
from sklearn.metrics import accuracy_score

# test 데이터셋에 대해서 라벨 예측(0, 1로 이루어진 array)
y_pred = model.predict(X_test)

# 예측 결과와 실제 결과 사이의 정확도 반환
accuracy_score(y_pred, y_test)

0.6923076923076923

In [18]:
y_pred

array([10, 50, 50, 30, 78, 30, 10, 30,  0,  0, 60, 10, 50], dtype=int64)

In [23]:
du = pd.read_csv('./dataset/ALL.csv',encoding='cp949')

In [24]:
du

,name,tick,sec,right_RLA,percent,per,nose_shoulder_angle,left_elbow_angle,right_elbow_angle,right_knee_angle,left_knee_angle,shoulder_angle,right_ankle_angle,right_hip_angle,left_ankle_angle,left_hip_angle
0,F1_5,22,0.734800,LC_LR_START_1,0.0,1,10.246807,113.914923,156.946807,178.382165,176.708139,154.847891,127.857176,11.383970,75.396109,11.877151
1,F1_5,23,0.768200,NaN,0.0,1,8.498494,134.259379,156.596436,174.482423,176.492623,152.613416,132.700905,14.178794,69.244036,15.094416
2,F1_5,24,0.801600,NaN,0.0,1,7.962697,174.609490,157.057920,174.113798,174.075253,149.073790,131.397491,15.215497,67.522253,13.960714
3,F1_5,25,0.835000,NaN,0.0,1,9.036762,120.592210,160.495466,176.263199,169.840612,145.539430,126.104609,15.872366,66.788287,9.689928
4,F1_5,26,0.868400,MSt_start_1,10.0,1,9.279307,121.462792,159.865068,176.950474,162.686220,147.011870,123.658415,16.809136,71.786879,4.199252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,F2_1,473,15.746834,NaN,NaN,0,7.512336,140.550618,142.259117,140.508106,170.040456,154.406626,82.796254,8.091605,112.455467,12.509813
1760,F2_1,474,15.780126,NaN,NaN,0,8.449915,171.272376,138.313947,122.572567,175.815731,156.610749,88.475797,22.395925,114.624389,15.265162
1761,F2_1,475,15.813417,NaN,NaN,0,8.502981,171.754269,136.435741,104.845942,170.329783,156.731726,93.374265,35.119210,102.408075,15.993031
1762,F2_1,476,15.846709,NaN,NaN,0,8.208395,172.829128,137.040572,99.469640,166.765913,163.014583,84.281783,36.793212,96.092170,13.854559
1763,F2_1,477,15.880000,NaN,NaN,0,14.188495,169.750158,139.275291,98.957657,160.398453,166.308705,89.177340,36.810526,89.331257,9.266336

In [28]:
import pandas as pd
#데이터 불러오기 (t예측)
du = pd.read_csv('./dataset/ALL.csv',encoding='cp949')

#t를 범주처리
du['percent'] = du['percent'].astype("category")

#학습데이터와 테스트데이터 나누기
du_train = du[du['per']==1]
du_test = du[du['per']==0]

#데이터 형태 확인
# df.info()
#train 462, test 1300
#학습은 사이클룩스 4개 데이터의 RLA 3~5회 임의추출 한 TARGET

In [38]:
#필요한 컬럼만 남기기 
du_train1 = du_train.drop(['name','tick','right_RLA','per'], axis=1)
du_test1 = du_test.drop(['name','tick','right_RLA','per'], axis=1)

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

train_columns = ['sec','nose_shoulder_angle', 'left_elbow_angle', 'right_elbow_angle',
                'right_knee_angle','left_knee_angle','shoulder_angle','right_ankle_angle',
                'right_hip_angle','left_ankle_angle','left_hip_angle'] # train_feature를 나타내는 column

# train, test 데이터셋 분리(random state 지정시 항상 고정, test set 비율도 지정 가능)
X_train, X_test, y_train, y_test = train_test_split(du_train1[train_columns], du_train1['percent'], 
                                                    test_size = 0.25, random_state = 32)

In [47]:
# 모델
model = RandomForestClassifier(n_estimators=5, random_state=0)

In [48]:
#학습

model.fit(X_train, y_train)

# X_train

RandomForestClassifier(n_estimators=5, random_state=0)

In [49]:
from sklearn.metrics import accuracy_score

# test 데이터셋에 대해서 라벨 예측(0, 1로 이루어진 array)
y_pred = model.predict(X_test)

# 예측 결과와 실제 결과 사이의 정확도 반환
accuracy_score(y_pred, y_test)

0.7327586206896551

In [51]:
X_test

,sec,nose_shoulder_angle,left_elbow_angle,right_elbow_angle,right_knee_angle,left_knee_angle,shoulder_angle,right_ankle_angle,right_hip_angle,left_ankle_angle,left_hip_angle
149,5.711400,4.993639,139.099414,135.918983,165.074947,150.006025,92.539646,76.853897,16.242508,115.559417,8.423592
1333,1.564696,16.420736,175.935090,141.126539,150.790729,119.856905,165.137921,85.684793,4.377641,77.594928,15.035971
16,1.269200,4.760406,136.480697,138.189560,178.158568,168.823368,97.924802,126.173064,12.299570,73.044112,16.944117
63,2.839000,13.876009,129.467530,146.650932,126.559554,159.506564,159.198789,77.417179,9.198457,80.306634,9.518162
146,5.611200,3.961530,148.002941,146.565511,139.897636,141.100129,96.382808,74.452407,0.319665,76.818875,2.358932
...,...,...,...,...,...,...,...,...,...,...,...
31,1.770200,10.851088,121.844259,154.110138,159.682087,161.943836,155.087081,95.566330,8.228158,79.383043,9.255791
10,1.068800,6.631201,160.980179,145.927219,154.827932,123.672308,149.365265,86.699530,5.346221,76.502601,15.262928
974,3.829960,4.684288,160.864584,167.704670,137.164491,110.536125,162.846362,82.293026,3.691865,71.013537,18.113468
907,1.040750,15.682140,165.875754,152.822614,102.167774,160.300292,161.221610,83.359371,40.001708,101.106752,10.785469
944,2.581060,1.107755,137.017221,138.310609,158.967279,141.386922,137.190932,108.477813,5.320585,69.247562,6.242926

In [53]:
du_test11 = du_test.drop(['name','tick','right_RLA','per','percent'], axis=1)

In [104]:
# 적합

real = model.predict(du_test11) 

#array를 열변수로 추가해주기 du_test1 옆에
#real
# dataframe으로 바꿔주기 
coll = ["y_pred"]
uuu = pd.DataFrame(real, columns=coll)
#new1 = pd.merge(du_test1, uuu, left_index=True, right_index=True)
du_test1["y_pred"]=uuu
du_test1

,sec,percent,nose_shoulder_angle,left_elbow_angle,right_elbow_angle,right_knee_angle,left_knee_angle,shoulder_angle,right_ankle_angle,right_hip_angle,left_ankle_angle,left_hip_angle,y_pred
167,6.312600,NaN,12.420252,122.384986,156.903500,179.221133,174.471644,156.764159,131.521614,11.524840,73.722978,12.327635,0.0
168,6.346000,NaN,12.829825,122.551949,161.403698,178.717609,179.152403,153.970594,131.857764,10.609289,70.532975,17.175355,0.0
169,6.379400,NaN,12.842955,122.653357,167.163096,176.347136,177.913576,151.448753,133.066117,13.561762,68.001259,17.227002,0.0
170,6.412800,NaN,12.323065,121.512358,168.617600,175.278819,173.253894,148.295743,129.218385,14.896833,67.407918,12.793864,0.0
171,6.446200,NaN,12.622937,126.194309,166.835927,176.186879,168.248667,148.749708,125.333676,16.638852,71.866719,8.201926,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,15.746834,NaN,7.512336,140.550618,142.259117,140.508106,170.040456,154.406626,82.796254,8.091605,112.455467,12.509813,NaN
1760,15.780126,NaN,8.449915,171.272376,138.313947,122.572567,175.815731,156.610749,88.475797,22.395925,114.624389,15.265162,NaN
1761,15.813417,NaN,8.502981,171.754269,136.435741,104.845942,170.329783,156.731726,93.374265,35.119210,102.408075,15.993031,NaN
1762,15.846709,NaN,8.208395,172.829128,137.040572,99.469640,166.765913,163.014583,84.281783,36.793212,96.092170,13.854559,NaN
1763,15.880000,NaN,14.188495,169.750158,139.275291,98.957657,160.398453,166.308705,89.177340,36.810526,89.331257,9.266336,NaN